@model IEnumerable<Agenda_Compromissos.Models.Compromisso>

@{
    ViewData["Title"] = "Agenda";
}

<h1>Agenda</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Compromisso</a>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Data do Compromisso
            </th>
            <th>
                Hora do Compromisso
            </th>
            <th>
                Participantes
            </th>
            <th>
                Descrição
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompromisso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraCompromisso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participantes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>